.btn {
  --height: 30px;
}

.btn button {
  padding: 5px 7px;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 10;

  transition: all 0.3s ease;
}

.btn button::before {
  content: "";

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 9;

  height: var(--height);
  width: var(--height);

  border-radius: calc(var(--height) / 2);

  background-color: var(--primary-btn-color);

  transition: all 0.3s ease;
}

.btn button span {
  color: var(--third-color);
  z-index: 10;
  margin-right: 10px;

  font-weight: 550;
}

.btn button .btn-icon {
  fill: var(--third-color);

  z-index: 10;
}
/* hover animation */
.btn button:hover .btn-icon {
  fill: var(--secondary-color);
}

.btn button:hover span {
  color: var(--secondary-color);
}

.btn button:hover::before {
  width: 100%;
}
/* end hover aniamation */
